body {
    font-family: 'Poppins';
    overflow: hidden;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 25px 65px;
    max-width: 1440px;
    margin: 0 auto;
}

.logo{
    width: 45px;
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.1s;
    position: relative;
}

.cabecalho nav li a:hover {
    background-color: #d5011d;
}

.container {
    max-width: 1440px;
    height: 72vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 132);
    padding: 0 30px 30px;
}
.container .imagem-titulo {
    max-width: 600px;
}

.container .descricao {
    color: #fef6f6;
    width: 85%;
    max-width: 750px;
    font-size: 18px;
    margin: 30px 0;
}

.container .spiderman{
    max-width: 450px;
    margin-left: 50px;
}

.container .botao-trailer {
    background-color: #ff0021;
    color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.4s all ease-in-out;
}

.container .botao-trailer:hover {
    transform: scale(1.1);
}

.fundo-video {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;  
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 100vh;
    transform: scale(1.3);
}

.fundo-video::after {
    content: "";
    background-color: #d5011d;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
background: linear-gradient(97deg, rgba(0,0,0,0.9472163865546218) 6%, rgba(0,0,0,0.3701855742296919) 49%, rgba(0,0,0,0.9304096638655462) 94%);
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    background-color: rgba(52, 52, 50, 0.624);
    visibility: hidden;
}

.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}

.fechar-modal {
    background-color: #fff;
    color: #d5011d;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.modal iframe {
    border-width: 0;
    width: 640px;
    height: 360px;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
}

